<div id="box">
  <h1>Loan EMI Calculator</h1>
    <%= form_for :calculator, url: root_path do |f| %>
      <p>
        <%= f.label :principal %><br>
        <%= f.text_field :principal, :value => @principal %>
      </p>
     
      <p>
        <%= f.label :term, "Loan Term (In Months)" %><br>
        <%= f.text_field :term, :value => @term %>
      </p>

      <p>
        <%= f.label :interest %><br>
        <%= f.text_field :interest, :value => @rate %>
      </p>
     
      <p style="margin-top:30px">
        <%= f.submit "Calculate EMI" %>
      </p>
  <% end %>
  <% if @message %>
    <div id="error_explanation">
      <h2>
        <%= @message %>
      </h2>
    </div>
  <% elsif @result %>
    <div id="results">
      <h2><%= "Loan EMI =  #{@result}" %></h2>
      <h2><%= "Total interest payable = #{@intrst}" %></h2>
      <h2><%= "Total payment = #{@amount}" %></h2>
    </div>
  <% end %>
</div>